# Node specific
node_modules

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.dart_tool/
.idea/

# Android specific
#*/android/gradle.properties
#*/android/local.properties
#*/android/**/local.properties
#*/android/gradlew
#*/android/gradlew.bat
#*/android/.gradle
#*/android/build/

# iOS specific
*/ios/Pods/
*/ios/Podfile.lock
*/ios/*.xcworkspace/
*/ios/*.xcodeproj/

# Visual Studio Code specific
.vscode/

# Android Studio specific
*/.idea/
*/.idea/workspace.xml
*/.idea/libraries

# macOS specific
.DS_Store

# Other
*.iml
*.log
*.log.*
*.jks
*.lock
*.map